body {
  padding: 10px;
  background-color: white;
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: purple;
}

.dados-pessoais {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#dados {
  margin-left: 30px;
  list-style-type: disc;
}
.profile-img {
  height: 200px;
  width: 200px;
}
table,
tr,
td,
th {
  padding: 5px;
  border: 1px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
}
th {
  background-color: #ddd;
}
.personal-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.personal {
  margin: 10px;
}
.emphasis {
  font-weight: bold;
  color: red;
}
